body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eee;
    margin: 0;
    padding: 0;
  }

#feedback {
  float: left;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

#app {
  float: right;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}

.show{
  background-color: beige;
  /* box-shadow: -8px -8px 16px -10px rgba(255, 255, 255, 1), 8px 8px 16px -10px rgba(0, 0, 0, .15); */
  width: 30vw;
  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: black;

  width: 30vw;
  height: 60vh;

  display: grid;
  grid-template-areas: 
    "number-7 number-8 number-9"
    "number-4 number-5 number-6"
    "number-1 number-2 number-3"
    "delete number-0 submit";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.calculator button {
  border: 0;
  display: block;
  outline: none;
  font-size: 3vh;
  font-family: Helvetica;
  font-weight: normal;
  color: #999;
  background: linear-gradient(135deg, rgba(230, 230, 230, 1) 0%, rgba(246, 246, 246, 1) 100%);
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1), 4px 4px 10px -8px rgba(0, 0, 0, .3);
}

.delete{
  border-bottom-left-radius: 3vh;
}

.submit{
  border-bottom-right-radius: 3vh;
}

#n7{
  border-top-left-radius: 3vh;
}

#n9{
  border-top-right-radius: 3vh;
}

.calculator button:active {
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset, 4px 4px 10px -8px rgba(0, 0, 0, .3) inset;
}

.count{
  width: 30vw;
  height: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: black;
}

.memo{
  width: 30vw;
  height: 60vh;

  overflow: auto;
  background-color: palevioletred;
}

.memo ol{
  margin: 0;

  background-color: plum;
  text-align: center;
}

.memo ol li{
  height: 6vh;

  line-height: 6vh;
  background-color: aqua;
}

.input {
  width: 8vw;
  height: 8vw;

  background-image: url("/static/ball.png");
  background-position: center;
  background-size: cover;

  text-align: center;
  line-height: 8vw;
  
  font-size: 4vw;
}

#strike{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ball{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#out{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.type-container{
  width: 2vw;
  height: 2vw;
  text-align: center;
  line-height: 2vw;
  color: white;

  background-color: skyblue;
}

.count-container{
  width: 8vw;
  height: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: moccasin;
}

.circle{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: gray;
}